.contact-container {
  padding: 2.5rem 1.5rem 0;
}

.contact-title {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 600;
  font-family: "Heebo", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-flex {
  margin-bottom: 2rem;
}

.contact-icon {
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.contact-type {
  color: var(--primary-color);
  font-size: 1rem;
  font-size: 500;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

@media (min-width: 992px) {
  .contact-container {
    padding: 2rem 3rem 7.5rem;
  }

  .contact-title {
    font-size: 2.5rem;
  }

  .contact-type {
    font-size: 1.5rem;
  }
}
