.hero-section {
  padding: 20px 40px;
  margin-bottom: 1.5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.image_wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.hero-image {
  width: 243px;
  border-radius: 170.859px;
}

.hero-text {
  text-align: center !important;
}

.title {
  color: var(--primary-color);
  text-align: center !important;
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 1rem;
}

.description {
  color: var(--primary-color);
  text-align: center !important;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-btn {
  text-decoration: none;
  border-radius: 2px;
  background: var(--button-background);
  border: 1px solid var(--button-border);
  padding: 8px 25px;
  color: var(--button-text);
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
}

/* Media Queries */
@media (min-width: 768px) {
  .hero-text {
    text-align: left !important;
  }

  .title {
    text-align: left !important;
  }

  .description {
    text-align: left !important;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    margin-top: 2rem;
    padding: 40px 120px;
  }

  .hero-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .image_wrapper {
    order: 2;
  }

  .hero-image {
    width: 243px;
    border-radius: 243px;
  }

  .hero-text {
    order: 1;
    margin-top: 1rem;
  }

  .title {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 1rem;
  }
}
