.hero-section {
    margin-top: 2rem;
    padding: 20px 40px;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.hero-image {
    text-align: center;
}

.image {
    /* width: 50%; */
}

.hero-text {
    text-align: center;
}

.title {
    color: #21243D;
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px; 
    margin-bottom: 1rem;
}

.description {
    color: #21243D;
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.hero-btn {
    border-radius: 2px;
    background: #FF6464;
    border: 1px solid #FF6464;
    padding: 8px 25px;
    color: #FFF;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


@media (min-width: 992px) {
    .hero-section {
    margin-top: 2rem;
    padding: 40px 120px;
}

.hero-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.image {
    width: 60%;
}

.hero-image {
    order: 2;
}

.hero-text {
    order: 1;
    text-align: left;
    margin-top: 1rem;
}

.title {
    color: #21243D;
    text-align: left;
    font-family: "Heebo", sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 60px; 
    margin-bottom: 1rem;
}

.description {
    color: #21243D;
    text-align: left;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.hero-btn {
    border-radius: 2px;
    background: #FF6464;
    border: 1px solid #FF6464;
    padding: 8px 25px;
    color: #FFF;
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

}