@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #21243d;
  --link-color: #000;
  --button-background: #ff6464;
  --button-border: #ff6464;
  --button-text: #fff;
  --overlay-background: rgba(0, 0, 0, 0.8);
  --Post-Background: #edf7fa;
  --View-Color: #00a8cc;
  --Copyright-Color: #21243d;
  --Light: #ff646479;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
